#root {
  max-width: 1280px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#row > * {
  margin: 1rem;
}

#grid-Easy,
#grid-Medium,
#grid-Hard {
  display: grid;

  width: 80vw;
  height: 40vh;
} 

#grid-Easy {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#grid-Medium {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#grid-Hard {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.test > * {
  margin: 1rem;
}

#difSelector > *{
  margin: 0.5rem;
  padding: 0.2rem;
}

.poke {
  border: 2px solid black;
  border-radius: 8px;

  background-color: rgb(172, 141, 207);
}

.poke:hover {
  background-color: rgb(198, 147, 255);
}

#pokeName {
  font-size: medium;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  margin: 0 0 1rem 0;
}

.btn {
  border: 1px black solid;
  border-radius: 0.5rem;

  padding: 0.5rem;
}